.img{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(136, 160, 181);
    .contImg{
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        border-radius: 10px;
    }
    .contImg:hover{
        opacity: 10%;
    }
}