@import './card.scss';
.home{
    width: 100%;
    height: 100%;
    overflow: auto;
    animation: animHome ease-in-out 0.2s;
    .contWelcome{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            p{
                font-size: 25px;
                text-align: center;
                color: rgb(87, 87, 87);
            }
        }
        .img{
            background-color: transparent;
            width: 30%;
            height: 90%;
            background-image: url('../../img/img02.svg');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    .contInfo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .cards{
            width: 100%;
            height: 90%;       
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
        .line{
            width: 60%;
            height: 25%;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            background: linear-gradient(241deg, rgba(229,233,191,0.6643032212885154) 12%, rgba(255,222,0,1) 45%, rgba(237,227,0,0.8071603641456583) 94%);
            
            h2{
                width: 50%;
                height: 100%;
                text-align: center;
            }
            p{
                width: 80%;
                height: 100%;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .visMis{
        width: 100%;
        height: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: url('../../img/mision1.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: 50%;
            .cardM{
                width: 30%;
                height: 50%; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0px 10px;
                gap: 20px;
                box-shadow: 0px 10px 30px 1px rgb(255, 255, 255);
                border-radius: 15px;
                padding: 20px;
                b{
                    font-size: 50px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.7);
                }
                p{
                    font-size: 20px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        
    }
    .contSomos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        
        .contHead{
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            h1{
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-bottom: 20px;
                border-bottom: 1px solid rgb(223, 223, 102);
            }
            p{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 20px;
                color: rgb(71, 71, 71);
            }
        }
        .contBody{
            width: 100%;
            height: 20%;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .contCardSomos{
                width: 15%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 50%;
                    height: 70%;
                }
            }
        }
    }
}
.home::-webkit-scrollbar {
    appearance: none;
}

@keyframes animHome {
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}