.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(93deg, rgba(229,233,191,0.6643032212885154) 52%, rgba(255,222,0,1) 65%, rgba(237,227,0,0.8071603641456583) 94%);
    .form{
        width: 35%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 7%;
        justify-content: space-around;
        border-radius: 15px;
        background-color: aliceblue;
        border-top: 1px solid white;
        border-left: 1px solid white;
        .header{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contForms{
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .contForm{
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .contInputs{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 20px;
                    p{
                        font-size: 20px;
                    }
                    input{
                        width: 50%;
                        height: 12%;
                        border: 1px solid rgb(230, 217, 115);
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                    .reCaptha{
                        width: 100%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .contBtn{
                width: 100%;
                height: 10%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                .btn{
                    width: 25%;
                    height: 100%;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.2s;
                    color: rgb(65, 65, 65);
                    font-weight: bolder;
                }
                .btn:hover{
                    width: 27%;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    background-color: transparent;
                }
                .v{
                    background-color: rgba(153, 5, 5, 0.5);
                }
                .i{
                    background-color: rgba(230, 217, 115, 0.5);
                }
                .s{
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .btnR{
            width: 25%;
            height: 8%;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.2s;
            color: rgb(65, 65, 65);
            font-weight: bolder;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(230, 217, 115, 0.9);
        }
        .btnR:hover{
            width: 27%;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: transparent;
        }
    }
    .contImg{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        video{
            width: 100%;
            height: 80%;
        }
    }
}